apiVersion: v1
kind: ConfigMap
metadata:
  name: site-data
data:

  # values here are passed as variables to ingress-patch.yaml by kustomize

  ##### ingress
  # the fqdn of your ingress path
  hostname: a.real.domain.com
